@import 'vars.scss';

.tag {
  background-color: lightgray;
  padding: 0.25rem 1rem;
  border-radius: 1rem;
  margin: auto 0.5rem;
  transition-duration: 0.2s;
  height: 27px;
  vertical-align: middle;

  cursor: pointer;

  &:hover {
    background-color: $link-color;
    color: white;
  }
}
