
{
    "extends": ["airbnb-base",
      "airbnb/rules/react", "prettier/react"],
    "settings": {
      "import/resolver": {
        "node": {
            "paths": ["src"]
        }
      }
    },
    "rules": {
        "curly":"off",
        "semi":"off",
        "camelcase":"off",
        "consistent-return":"off",
        "no-param-reassign":"off",
        "no-unused-vars":"warn",
        "object-curly-newline": "off",
        "indent":"off",
        "operator-linebreak":"off",
        "no-nested-ternary":"off",
        "no-console": "off"
    }
  }