@import 'vars.scss';

.list-item {
  min-width: 150px !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 5px 5px lightgray;
  border-radius: 10px;
  padding: 0 2rem;
  min-height: 170px;
  width: auto;
  flex-wrap: wrap;
  transition-duration: 0.2s;

  &:hover {
    box-shadow: 0 0 5px 5px $link-color;
  }

  @media (max-width: $small-screen-size) {
    justify-content: flex-start;
  }

  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20%;
    justify-content: space-between;

    @media (max-width: $small-screen-size) {
      flex-direction: column;
      width: auto;
      align-items: flex-start;
    }

    .avatar > img {
      width: 130px;
      border-radius: 130px;

      @media (max-width: $small-screen-size) {
        width: 70px;
        border-radius: 70px;
      }
    }

    .name-type {
      padding: 0 5px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      a {
        font-size: $large-text-size;
        margin-left: -2px;
        width: max-content;

        @media (max-width: $small-screen-size) {
          width: 100px;
          font-size: $medium-small-text-size;
          align-items: center;
          text-overflow: ellipsis;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .repo-list {
    margin: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    width: 30%;

    @media (max-width: $small-screen-size) {
      margin: 1rem 1rem;
      width: 40%;
    }

    h3 {
      margin: 0 0 0 10px !important;
    }

    ul {
      text-align: left;
      font-size: $small-text-size;
      word-break: break-word;

      @media (max-width: $small-screen-size) {
        font-size: $smallest-text-size;
      }

      li {
        @media (max-width: $small-screen-size) {
          margin: 5px 0;
        }
      }
    }
  }
}
