$smallest-text-size: 12px;
$small-text-size: 15px;
$medium-small-text-size: 20px;
$medium-text-size: 30px;
$large-text-size: 40px;
$h1-text-size: 60px;
$body-max-width: 1400px;
$medium-screen-size: 1300px;
$small-screen-size: 988px;

$link-color: #41bed1;
